* {

    margin: 0;
    padding: 0;

}

body {

    background : #EDDACE

}

.navbar {

    background: #bb9d85; 
    box-shadow: 0px 4px 4px 0px #00000040;
    max-height: 100px;

}

.navbar ul li #icon1 {

    position: absolute;
    left: 68px;
    top: 14px;
    width: 65px;
    height: 56px;

}

.navbar ul li input[type="text"] {

    position: absolute;
    left: 254px;
    top: 14px;
    width: 154px;
    height: 64px;
    border-radius: 5rem;

}

.navbar ul li a {

    text-decoration: none;
    color: #8B5A3F;

}

.navbar ul li #nav-home{

    position: absolute;
    top: 41px;
    left: 539px;

}

.navbar ul li #nav-fillter{

    position: absolute;
    top: 41px;
    left: 694px;

}

.navbar ul li #nav-help {

    position: absolute;
    top: 41px;
    left: 849px;

}

.navbar ul li #nav-post {

    position: absolute;
    top: 41px;
    left: 1004px; 

}

.navbar ul li .icon-people {

    position: absolute;
    top: 24px;
    left: 1174px;

}

.navbar ul li .flagT {

    position: absolute;
    top: 24px;
    left: 1244px;

}

.navbar ul li .flagE {

    position: absolute;
    top: 24px;
    left: 1300px;

}

h1 {

    position: relative;
    top: 25px;

}

.box-pic {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

h3 {

    margin-top: 10px;

}



button {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background: #A4826D;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    border-radius: 10rem;

}

button a {

    color: white;
    text-decoration: underline;

}