/* Login นะจ๊ะ */
* { 

  margin: 0;
  padding: 0;
  background: #FFFFFF; 
  font-family: 'Outfit';
  font-style: normal;
    
} 

.container {

  display: flex;

}

.container .box-login {

  width: 768px;
  height: 579px;

}

.container .box-login h2{

  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;

}

.container .box-login .login form{

  display: block;
  position: relative;
  left: 70px;

}

.container .box-login .login label {

  font-weight: bold;

}

.container .box-login .login label, input[type="submit"]{

  margin: 10px;
  margin-right: 30px;

}

.container .box-login .login input[type="email"], input[type="password"] {

  position: relative;
  margin-left: 10px;
  margin: 10px;
  width: 50%;
  height: 30px;
  border-radius: .5rem;
  

}

.container .box-login .login input[type="email"] {

  left: 25px;

}

.container .box-login .login input[type="submit"] {

  position: relative;
  padding: 10px;
  border-radius: .5rem;
  width: 50%;
  background: rgb(60, 167, 255);
  color: white;
  border: none;
  left: 115px;
  margin-top: 20px;
  transition: 500ms;
  
}

.container .box-login .login input[type="submit"]:where(:hover, :focus-visible) {

  background: rgb(46, 46, 242);

}
 
.container .box-login .login #fp {

  position: relative;
  text-decoration: none;
  color: gray;
  font-size: 12px;
  top: -33px;
  left: 0px;

}

.container .box-login .login p {

  margin-top: 10px;
  position: relative;
  left: 195px;

}

.container .box-img {

  position: relative;
  width: 768px;
  height: 729px;
  background: #d1f9ff;

}

.container .box-img img {

  position: relative;
  top: 297px;
  width: 768px;

}